<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="LivAloud gives people the ability to plan, set, and accomplish goals in a fast, fun, and addicting way. We want to help people change their lives for the good through specific goal setting. Goal setting will never be the same." content="">
    <meta name="Adam Pruett" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>LivAloud: Control your destiny</title>



    <!-- Custom styles for this template -->
    <link href="LivAloud.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- header  -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div >
            <form class="navbar-form navbar-right">
              <%= form_tag session_path do %>
                <div class="form-group">
                  <%= email_field_tag('email',nil, class: "form-control", placeholder: "Email") %>
                </div>

                <div class="form-group">
                  <%= password_field_tag 'password',nil,class: "form-control", placeholder: "Password" %>
                </div>

                <%= submit_tag 'Sign in', class: "btn btn-success" %>
                <!--<div class="form-group">
                  <%= button_to 'Sign up', class: "btn btn-success" %>
                </div> -->
              <% end %>

            </form>
          </div><!--/.navbar-collapse -->

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">LivAloud</a>

            <div class="index-bottom-container">
              <%= link_to "What is LivAloud?", new_goal_path, class: "index-bottom-button" %>
              <%= link_to "Community", new_goal_path, class: "index-bottom-button" %>
              <%= link_to "About Us", new_goal_path, class: "index-bottom-button" %>

            </div>



          </div>


        </div>
      </div>

      <!-- Main body for telling life-changers they are at the right place  -->
      <div class="index-header">
        <div class="container wrapper">


          <h1>Start planning now and achieve your dreams tomorrow.</h1>



          <div class="sub-header"> Set goals and track those goals the free, fast, and easy way.   </div>

          <div class="img-index-container">
            <%= image_tag "Peter Drucker.jpg", class: "img-index"%>
            <div class="img-index-label">"The best way to predict the future is to create it."<p align="right" style="padding-right:10px">- Peter Drucker</p>
            </div>
          </div>


          <div class="signup-label">Get Started! </div>


          <% @user.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>

          <%= form_for @user do |f| %>
            <div>
              <%= f.email_field :email, class: "signup-fields",placeholder: "Your Email" %>
            </div>
            <div>
              <%= f.password_field :password, class: "signup-fields",placeholder: "Password" %>
            </div>
            <%= f.submit 'Sign up',
                class: "signup-btn btn-lg"%>

          <% end %>

        </div>

      </div>



      <div class="footer footer-text">&copy; <%= copyright_notice_year_range(2005) %> LivAloud
            </div>


  </body>
</html>
